.App {
  background-color: rgb(240, 240, 240);
    min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  background-color: #fff;
  color: #000;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

html {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}